body {
    background-image: url("asset/bg2.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
    
    }
    
    h1 {
        font-family: "Lucida Handwriting", serif;
        font-weight: 500;
        font-style: normal;
    
    }